.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  align-items: center;
    
  /* width: 100%; */
    
  aspect-ratio: 4 / 3;
    
  /* object-fit: cover; */
    
}

.block.cards.public-service{
  /* background-color: aqua; */
    
 position: relative;
    top: 0;
}

.block.cards.public-service >ul>li{
/* background-color: aqua; */
    
/* height: 180px; */
    
border-radius: 10px;
position: relative;
top: -100px;
margin: 10px;
}

.block.cards.full-column>ul>li{
  background-color: #A2A84C;
  border: 0;
}
.block.cards.public-service >ul>li:hover{
background-color: #a2a84c;
border: 0;
transition: .5s;
color: white;
}

.block.cards.public-service >ul>li>.cards-card-image>picture>img{
height: 45px;

}

/* full column */

.block.cards.full-column{
  margin-top: 50px;
  background-color: #A2A84C;
  color: white;
}



/* make plan */

.block.cards.make-plan>ul{
text-align: center;

}

.block.cards.make-plan>ul>li:hover{
  background-color: rgb(162 168 76);
  transition: 0.5s;
  color: white;
}

.default-content-wrapper>h2{
  text-align: center;
}

/* our services */

.block.cards.our-services{
margin-bottom: 10px;
text-align: center;
display: flex;
flex-direction: column;
    
/* background-color: #a2a84c; */
    
/* align-items: center; */
    
justify-content: space-around;

}


.block.cards.expert-members>ul{
  display: flex;
}

.block.cards.our-services>ul>li{
  padding:10px;
  height: 300px;
}

.block.cards.expert-members>ul>li{
border: none;
background-color: snow;
}

.block.cards.expert-members>ul>li>div>{
margin-top: -10px;
}

.block.cards.expert-members>ul>li>div>h2{
font-size: 18.03px;
text-align: center;
}

.block.cards.expert-members>ul>li>div>table>tbody>tr{
/* background-color: #A2A84C; */
    
display: flex;
gap:10px;
}

.block.cards.expert-members>ul>li>div>table>tbody>tr>td>picture>img{
width: 20px;
}
